img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: .3s ease-in-out;
}

.imgWrapper {
    display: inline-block;
    overflow: hidden;
}

img:hover {
    transform: scale(1.1);
}

td {
    background-color: #0f5a5e;
    border-radius: 15px;
    padding: 50px 25px;
}

.Grid { 
    border-spacing: 30px; 
}

.Restaurant {
    color: white;
}

a {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

a:hover {
    box-shadow: 3px 3px 3px;
}